@import url('https://fonts.googleapis.com/css2?family=Anton&family=Skranji:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-- General Styles --*/
body {
    background-color: black;
}
.sub {
    font-size: 50px;
    font-family: 'Skranji', cursive;
    color: white;
    text-shadow: black 1px 1px 5px;
    text-decoration: underline;
}
.sec {
    margin: 0px auto;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.151) 15px 10px 5px;

}
/*-- Container --*/
#container {
    margin: 0px auto;
    padding: 50px 0;
    background: linear-gradient(#56bddc, #2523a8,#951ac3, #c80ebf);
    width: 60%;
}
/*-- Header --*/
#header {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;   
}
/*-- Banner --*/
#header #banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#header #banner #title {
    font-size: 100px;
    font-family: 'Skranji', cursive;
    color: white;
    text-shadow: black 1px 1px 5px;
    margin-bottom: 15px;

}
#header #banner #group-shot {
    width: 50%;
    border-radius: 100%;
    box-shadow: rgba(255, 255, 255, 0.2) 15px 10px 5px;
    border: white solid 2px;
}
/*-- Desc --*/
#header #desc {
    width: 70%;
    padding: 15px;
    border-radius: 10px;
    border-top: white 2px solid;
    border-bottom: white 2px solid;
    text-align: center;
}
#header #desc p {
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}
